*{
	box-sizing: border-box;
	}

html, body, main{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;

}
main{
	position:absolute;
	transition: transform 0.5s ease;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: #ececec;
}
li{
	font-family: Arial;
	font-size: 5vw;
	margin:0px;
	padding: 7vw;
	padding-left: 10vw;
	border-bottom: 1px solid #fefefe;
	text-align: left;

}
li:hover{
	cursor: pointer;
	background-color: #fefefe;
}
.row{

	width: 100%;
}
.col-6{
	width: 50%;
}

header{
	background-color: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}
.banner{
	margin-top:10px;
}
nav{

		width: 67vw;
		height: 100%;
		position:absolute;
		transform: translate(100vw,0);
		transition: transform 0.5s ease;
		z-index: 100;
		background-color: #ececec;

	}
nav.open{

	transform: translate(33vw,0);
}
main.left{
	transform: translate(-67vw,0);
}
.title{
	font-size: 5vw;
	padding-top: 5vw;
	padding-bottom: 3vw;
	padding-left: 5vw;
	
}

.menu{
	
	padding-top: 10vw;
	padding-bottom: 8vw;
	padding-right: 5vw;
	
	
}
#menu_icon{
	float: right;
	
	
}
#menu_icon:hover{
	cursor: pointer;
}

#menu_img{
	width: 7vw;
	height: 7vw;
	opacity: .6;
}
* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

 #menu_icon {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: 1s ease-in-out;
  cursor: pointer;
}

 #menu_icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: 1s ease-in-out;
}



/* Icon 4 */

#menu_icon {
}

#menu_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon span:nth-child(2) {
  top: 18px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon span:nth-child(3) {
  top: 36px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  left: 8px;
}

#menu_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu_icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 39px;
  left: 8px;
}

@media screen and (min-width:600px){

}