*{
	box-sizing: border-box;
	}

html, body, main{
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	background-color: #f6f6f6;

}
main{
	position:absolute;
	transition: transform 0.5s ease;
}
ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	background-color: #ececec;
}
li{
	font-family: Arial;
	font-size: 5vw;
	margin:0px;
	padding: 7vw;
	padding-left: 10vw;
	border-bottom: 1px solid #fefefe;
	text-align: left;

}
li:hover{
	cursor: pointer;
	background-color: #fefefe;
}
.row{

	width: 100%;
}
.col-6{
	width: 50%;
}

header{
	background-color: #f6f6f6;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	
}
.banner{
	margin-top:10px;
}
nav{

		width: 67vw;
		height: 100%;
		position:absolute;
		transform: translate(100vw,0);
		transition: transform 0.5s ease;
		z-index: 100;
		background-color: #ececec;

	}
nav.open{

	transform: translate(33vw,0);
}
main.left{
	transform: translate(-67vw,0);
}
.title{
	font-size: 5vw;
	padding-top: 5vw;
	padding-bottom: 3vw;
	padding-left: 5vw;
	
}

.menu{
	
	padding-top: 10vw;
	padding-bottom: 8vw;
	padding-right: 5vw;
	
	
}
#menu_icon{
	float: right;
	
	
}
#menu_icon:hover{
	cursor: pointer;
}

#menu_img{
	width: 7vw;
	height: 7vw;
}


@media screen and (min-width:600px){

}