#below-banner{
   
  padding-top: 1.5em;
}

#device-flag{
  display: none;
  background-color: rgb(0,0,0);
}


:focus {
  outline:none;

}


*{
   -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }



html, body, main{
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100vw;
  background-color: #f6f6f6;
  font-family: 'Open Sans', serif;
}

body{
  position: relative;

}
.overflowhidden{
  overflow: hidden;
}

/*
main{
  position: fixed;
  transition: transform 0.5s ease;
  z-index:5;

}
*/
ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: #ececec;
  background-color: #f6f6f6;
border: 0px solid red;


}
#drawer li{
  color: #666666;


  font-size: 1.06em;
  margin:0px;
  padding-left: 10vw;
  border: 0px solid red;
  
  height: 10vh;
text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.notselectedpage{
  background-color: #fefefe;
}
a{
  text-decoration:none;
  color: inherit;
}
a:hover{
  color: inherit;
}
#drawer a:active{
  background-color: #fefefe;
}

.col-6{
  width: 50%;
}
.col-3{
  width: 33.33%;
}
.col-12{
  width: 100%;
}

header{
  
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  position: absolute;
  top:0px;
  
  z-index: 100;
  
  align-items: center;
  justify-content: space-around;

  height: 10vh;

  transition: transform 0.5s ease;

  border: 0px solid red;

  

}
.fixed{
background-color: rgba(246,246,246,.98);
border-bottom: 1px solid #cccccc;
-webkit-box-shadow: 0 1px 6px  #cccccc;
     -moz-box-shadow: 0 1px 6px  #cccccc;
          box-shadow: 0 1px 6px  #cccccc;


  position: fixed;
  top:0px;
 
}
.header-up{
  transform: translate(0,-11vh);
}

nav{

    width: 67vw;
    height: 100vh;
    position:fixed;
    right: -67vw;
    
    transition: transform 0.5s ease;
    
    background-color: #f6f6f6;


  }


#content{
  position: absolute;
  top: 0px;
  transition: transform 0.5s ease;
  background-color: #f6f6f6;
  z-index: 1;
  width: 100vw;
}


.left{

transform: translate(-67vw,0);
}



.col-girl{

 display: flex;
  
  border: 0px solid red;
}
.girl_img{
  width: 2em;
  height: auto;
  opacity: .6;
}
.col-btn{
  /*
  padding-top: 3vw;
  padding-bottom: 3vw;
  
  */
  border: 0px solid red;
}
 .btn {

  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 22px;
  font-size: 17px;
  
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*color: #a7a7a7;*/
  color: #9a9a9a;
  background-color: rgba(0,0,0,0);
  border-color: #9a9a9a;
  display: block;
  margin: auto; 
}
/*
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  z-index:1
  color: #333333;
  text-decoration: none;
}*/
.btn:active,
.btn.active {
  /*z-index:1;
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  */

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  background-color: #cccccc;

}

.menu{
  /*
  padding-top: 5vw;
  padding-bottom: 3vw;
  padding-right: 5vw;
 
  */
   border: 0px solid red;
}

#menu_icon{
  float: right;
}
#menu_icon:hover{
  cursor: pointer;
}



/* Icon 1 */

 #menu_icon {
  width: 25px;
  height: 19px;
  position: relative;
 
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  cursor: pointer;
}

 #menu_icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #9a9a9a;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}



/* Icon 4 */


#menu_icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#menu_icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 2px;
  background: #e1e1e1;
}

#menu_icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#menu_icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 17.5px;
  left: 2px;
  background: #e1e1e1;
}


#banner{
 position: relative;
 padding: 0px;
    border: 0px solid red;
    display: inline-block;
    width: 100vw;

}
.banner-not-mainpage{
  height: 0px;
}

#banner-textbox{
  position: absolute;
  top:0px;
  left: 0px;
  border: 0px solid red;
width: 100%;
height: 100%;
  display: flex;
}
#banner_img{
max-width: 100%;
width: 100%;
height: auto;
top: 0%;
border: 0px solid red;
}
#banner-text{
  margin: auto;
}






#intro{
  /*text-align: center;
  font-size: 6vw;
  padding-top: 20vh;
  padding-bottom: 20vh;*/
}


#main-gray-layer{
  position: fixed;
  left:0px;
  width: 100vw;
  height : 0%;
  background-color: rgba(0,0,0,.45);
  z-index: 10000;
  border: 0px solid red;
  transition: transform .5s ease;
}

.myname{
  color: #fefefe;
  font-size: 1.5em;
}


h3{
  color: #fefefe;
  font-size: 1.5em;
}
h6{
  text-align: center;
  color: #ececec;
  font-size: 1em;
  font-weight: 100;
}
.light{
  font-weight: 100;
}



  .h-menu{
    display: none;
  }


#latest{
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100vw;
  margin-top:3em;
  margin-bottom: 2em;
  border: 0px solid blue;
  background:url(../img/latest-release-banner.jpg);
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  padding-bottom: 0em;
  height: 30vh;
 
    background-position: center;
}
#touching{
  /*display: flex;
  flex-wrap: wrap;*/
  width: 100vw;
  margin-top:3em;
  margin-bottom: 2em;
  border: 0px solid blue;
  background:url(../img/touching-banner.jpg);
  background-position: center;
  background-size:cover;
  background-repeat:no-repeat;
  padding-bottom: 0em;
  height: 30vh;
 
    background-position: center;
}
#latest-textbox, #touching-textbox{
  display: flex;
  flex-wrap: wrap;
text-align: center;
top:0px;
left: 0px;
border: 0px solid red;
width: 100%;
height: 100%;
padding-top: 10vh;
padding-top: 0vh;
align-items: center;
}
#latest-text, #touching-text{
  color: #fefefe;
  text-align: center;
  margin: 6vw;
  font-size: 1.2em;
  font-weight: 400;
}
#camera-box{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
top:0px;
left: 0px;
border: 0px solid black;
width: 100%;
height: 100%;
}
#camera{
  width: 2em;
  margin: auto;
}
h4{
  font-size: 1.3em;
  letter-spacing: 1px;
  font-weight: ;
border: 0px solid yellow;
text-align: center;
margin: auto;
color:#666666;
}
.latest-intro{
  font-size: 1em;
  color:#9a9a9a;
  text-align: left;
border: 0px solid green;
text-align: center;
margin: auto;
color: #ececec;
margin-top: .2em;
}



.row{

  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.gallary-title{

text-align: center; 
margin-bottom: 1em;
}

.gallery-container{
 padding-left: 6vw;
 padding-right: 6vw;
}

.gallery{
  /*height: 74vw;*/
  border: 0px solid blue;
  margin-top: 1em; 
}
.gallery-image{
  /*height: 90%;*/
  height: 58.6667vw;
  border: 0px solid red;
  border-radius: 3px 3px 0 0 ;
}
.video-image{
  height: 49.5vw;
}
.darker{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.1);
  opacity:0;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
  border: 0px solid red;
}
.darker:hover{
  opacity: 1;
}
.swipeboxEx{
  margin-top: 1em;
}
#pre-wedding-img{
  background:url(../img/pre-wedding.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#portrait-img{
  background:url(../img/portrait.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#travel-img{
  background:url(../img/travel.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#video-img{
  background:url(../img/video.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#hkust-img{
  background:url(../img/hkust.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#hokkaido-img{
  background:url(../img/hokkaido.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#inspirationlake-img{
  background:url(../img/inspirationlake.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#taidong-img{
  background:url(../img/taidong.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}



#temporary{
  width: 100%;
  height: 8vw;
}

.gallery-text{
  
  /*height: 10%;*/
  font-size: 1em;
  color:#9a9a9a;
  text-align: left;
  border: 0px solid green;
  text-align: center;
  margin: auto;
  padding-top: .7em;
  padding-bottom: .7em;
      border: 1px solid #ececec;
    border-top: 0px;
    background-color: #fefefe;
    border-radius: 0px 0px 3px 3px;
}
.sub-title{
    text-align: center;
    
    margin: auto;
    color: #666666;
    padding: 0px;
    margin: 0px;
}

#me{
  margin-bottom: 2em;
}

#me-image{
  border: 0px solid red;
  background:url(../img/poster.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 30vh;
  display: flex;

}
#me-title{
  color: #fefefe;
  text-align: center;
  margin: auto;
}
#me-intro-box{
  
  padding: 6vw;
  padding-bottom: 0;
  text-align: left;
  border: 0px solid red;
}
#me-intro-p{
 
  font-size: 1em;
  color:#9a9a9a;
  
  text-align: left;
  margin: auto;


}

#contact{
  display: ;
  position: relative;
  margin-top: 2em;
}
#contact-img{
    border: 0px solid red;
  background:url(../img/contact-circle.png);
  background-size:contain;
  background-repeat:no-repeat;
  background-position: center;
  height: 50vw;
  border: 0px solid blue;
  display: flex;
}

#contact-title{
   color: #fefefe;
  text-align: center;
  margin: auto;
}
#contact-container{
  padding: 6vw;
  margin-bottom: 6vw;
}

#contact-form{
   /*padding-left: 6vw;
  padding-right: 6vw;*/
border: 0px solid red;
}

/*input::-webkit-input-placeholder { font-size: 1em; color: #9a9a9a; }
input::-moz-placeholder { font-size: 1em; color: #9a9a9a; }
input:-ms-input-placeholder { font-size: 1em; color: #9a9a9a; }
input:-moz-placeholder { font-size: 1em; color: #9a9a9a; }
textarea::-webkit-input-placeholder { font-size: 1em; color: #9a9a9a; }
textarea::-moz-placeholder { font-size: 1em; color: #9a9a9a; }
textarea:-ms-input-placeholder { font-size: 1em; color: #9a9a9a; }
textarea:-moz-placeholder { font-size: 1em; color: #9a9a9a; }*/
::-webkit-input-placeholder { /* Chrome */
  color: #cccccc;
  font-size: 1em;

}
:-ms-input-placeholder { /* IE 10+ */
  color: #cccccc;
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #cccccc;
  opacity: 1;
  font-size: 1em;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #cccccc;
  opacity: 1;
  font-size: 1em;
}
/*input[type=text]{
 
}*/
.form-element{
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

font-family: inherit; 
font-size: inherit; 
font-weight: inherit;

background:#fefefe;

font-size:1em ;
/*line-height:1em;
padding-left: .5em;
padding-top: .5em;*/
border: 1px solid #cccccc;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
 display: block;
  margin-bottom: 3vw;
  height: 12vw;
  color:#9a9a9a;
padding-left: 1em;
text-align: left;
  display: flex;
  align-items: center;

}
.empty-input{
  box-shadow: 0 0 3px red;
  border: 1px solid red;
}
#message{
height: 36vw;
/*line-height:0;*/
padding-left: 1em;
padding-top: 1em;
}


#send-btn {

  line-height:0;
  text-decoration: none;
  display: -webkit-flex;
  display:         flex;
  text-align: center;
  align-items: center;
}

#send-btn div{
border: 0px solid red;
  margin: auto;
}

#send-btn:hover {
  cursor: pointer;
  background: #eeeeee;
  text-decoration: none;
}

#email-result-container{
  border: 1px solid #66a558;
  border: 0px solid #66a558;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3;
  margin-bottom: 3vw;
  margin-top: 6vw;
  padding-bottom: 3vw;
  padding-top: 3vw;
  
  background-color: #fefefe;
background-color: #f6f6f6;
}
.result-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hide-result{
   display: none;
}
#email-result{
    display: flex;
  justify-content: space-around;
  align-items: center;
  border: 0px solid red;
  font-size: inherit;
  color: #66a558;
  font-family: inherit;
  margin: auto;
}
#tick{
  width: 12vw;
  height: 12vw;
  border: 0px solid red;
}
#sent-text{
  border: 0px solid blue;
}
#contact-info{
  border: 0px solid red;
  /*padding-left: 6vw;
  padding-right: 6vw;*/

}

.contact-content{
  font-size: 1em;
  color:#9a9a9a;
  display: block;
  text-align: left;
}
a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}


.footer{
  background-color: #9a9a9a;
  padding-left: 6vw;
  padding-right: 6vw;
  border: 0px solid yellow;
  padding-top: 3vw;
  padding-bottom: 3vw;
}
#copyright{
  font-size: 1em;
  color:#fefefe;
  text-align: left;
  margin: auto;
}
#copyright-box{
border: 0px solid red;
display: flex;
margin-top: 1em;
}
#social-icon-box{
border: 0px solid blue;
display: flex;
}
#span-box{
  margin: auto;
}


/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  display: inline-block;
  font-size: 1em;
  color: #fefefe;
  margin-right: .3em;
}
.aboutme{
  margin-top: 2em;
  
}
.mypic-box{
height: 55vw;
display: flex;

}
.mypic{
  margin: auto;
  width: 55vw;
  height: 55vw;
}
.myintro{
  padding: 8vw;
}

iframe{
  width: 100%;
  height: 49.5vw;
}


@media only screen 
  and (min-device-width: 375px) 
  and (orientation: landscape) { 

    header{
    height: 10vw;
    }
  .header-up{
  transform: translate(0,-11vw);
}
    #drawer li{
      height: 10vw;
    }

#banner-text{
  margin-right:8vw;
  float: right;
  margin-right:auto;

}
#below-banner{
  padding-top: 1.5em;
}
.gallary-title{
  margin-top: 1em;
}
  #latest, #touching{
    height: 60vh;
    display: flex;
    align-items: center;
  }

  #me-image{
   height: 60vh;
  }
  #contact-img{
    height: 60vh;
  }
  #latest-text, #touching-text{
    padding-top: 0px;
    margin: auto;
    font-size: 1.2em;
    font-weight: 400
  }

  .gallery-text{
  text-align: center;
 
  
  font-size: 1em;
  color:#9a9a9a;
  text-align: center;


}

.gallery-container{
 padding-left: 8vw;
 padding-right: 8vw;
}

.gallery{
  width: 40vw;
  border: 0px solid blue;
  margin-top: 4vw;
}
.gallery-image{
  height: 26.666vw;
  border: 0px solid red;
}
.video-image{
  height: 22.5vw;
}


.gallery-right{
margin-left: 4vw;
}

#me-intro-p{
 
  font-size: .66em;

}
#contact-form{
width: 50%;
}

#contact-info{
width: 50%;
padding-left: 3vw;
}

.form-element{
height: 12vh;
}
.aboutme{
  margin-top: 2em;
  margin-bottom: 2em;

}
.mypic-box{
height: 30vw;
display: flex;
width: 50%;
}
.mypic{
  margin: auto;
  width: 30vw;
  height: 30vw;
}
.myintro{
  padding-right: 10vw;
  padding-top: 0vw;
  padding-left: 0vw;
  padding-bottom: 0vw;
  width: 50%;
  
}
#me-intro-p{
  color: #9a9a9a;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

iframe{
  width: 100%;
  height: 22.5vw;
}




}
@media screen and (min-width: 800px) {

#device-flag{
  background-color: rgb(0,0,2);
}


  .myname{
      color: #fefefe;
      margin: ;
      font-size: 2.8em;
      letter-spacing: .1em;
  }

    .h3{
      color: #fefefe;
      margin: ;
      font-size: 2.8em;
      letter-spacing: .1em;
    }
    h6{
      text-align: center;
      color: #ececec;
      
      font-size: 2em;
      letter-spacing: .1em;
    }
    #intro{
  font-size: 4.8px;
}
.girl_img{
  display: block;
  margin: auto;
  width: 4em;
  border: 0px solid blue;
}
#menu_icon{
  display: none;
}
#banner-text{
  margin-right:150px;
  float: right;
  margin-right:auto;

}
.h-menu{
  float: right;
  margin-right: 25px;
  border: 0px solid blue;

  display: inline-block;
  
}
header{
  height: 10vh;
  padding: 0px;
  border: 0px solid blue;
  align-items:;
  justify-content:;
  
}
.fixed{
  border-bottom: 0px solid #cccccc;

}
.horizontal{
  display: inline;
  color:yellow;
  color:#fefefe;
  

  padding: 10px;
  font-size: 1.2em;
  letter-spacing: .1em;
  margin-right: 10px;
  height: 0vh;
  text-align: center;
  border: 0px solid red;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}




.notselectedpage{
  color: #e0e0e0;
  background-color: rgba(0,0,0,0);
}
.h-menu ul{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: rgba(0,0,0,0);
border: 0px solid red;
display: flex;
  flex-wrap: wrap;
 border: 0px solid red;
}


.dark-banner-text{
  color:#9a9a9a;
}

#below-banner{
    background-color: #f6f6f6;
   position: relative;
  z-index: 10;
  padding-top: 2em;
}
#latest, #touching{
 
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  margin-top:.1em;
  border: 0px solid blue;
  height: 45vh;
  background-attachment: fixed;
  margin-top: 5vw;
  margin-bottom: 5vw;
  align-items: center;
}
#latest-textbox{
 
}
#latest-text, #touching-text{
  color: #fefefe;
  text-align: center;
  margin: auto;
  font-size: 1.8em;
  font-weight: 400;
}
#camera-box{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
top:0px;
left: 0px;
border: 0px solid black;
width: 50%;
height: 100%;
}
#camera{
  width: 4.8em;
  margin: auto;
}
h4{
  
  font-size: 2em;
  letter-spacing: .1em;
  font-weight: ;

text-align: left;
margin: auto;
/*height: 50%;*/
bottom: 0;
color:#666666;
padding-top: 10px;
}
.latest-intro{
letter-spacing: .1em;
  
  font-size: 1.2em;
  color:#9a9a9a;
  color:#ececec;
  margin-top: 1em;
  
}

.gallary-title{

text-align: center; 
margin-bottom: 0em;
margin-top: 0;
}



.gallery-text{
  text-align: center;
  letter-spacing: .08em;
  
  font-size: 1.2em;
  color:#9a9a9a;
  text-align: center;
  border: .2px solid #ececec;
  border-radius: 0 0 4px 4px;

}
.gallery:hover{
  box-shadow: 0px 2px 15px #dddddd; 

}
.gallery-container{
 padding-left: 8vw;
 padding-right: 8vw;
}

.gallery{
  width: 40vw;
  border: 0px solid blue;
  margin-top: 4vw;
}
.gallery-image{
  height: 26.666vw;
  border: 0px solid red;
  border-radius: 4px 4px 0 0;
}
.video-image{
  height: 22.5vw;
}



.darker:hover{
  opacity: 0;
}
.gallery-right{
margin-left: 4vw;
}
.swipeboxEx{
  margin-top: 4vw;
}

.sub-title{
    text-align: center;
    font-size: 2em;
    letter-spacing: .1em;
    margin: auto;
    color: #666666;
    padding: 0px;
    margin: 0px;
}

#me{
  position: relative;
}

#me-image{
  
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 70vh;
  display: inline;
  padding-left: 8vw;
  padding-top: 3vw;
  background-attachment: fixed;
}
#me-title{
  color: #fefefe;
  text-align: left;
  border: 0px solid blue;
  
}
#me-intro-box{
  
  padding: 8vw;
  text-align: left;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 4%;
  width: 55%;
  border: 0px solid red;

}
#me-intro-p{
 
  font-size: 1.2em;
  color:#ececec;
  
  text-align: left;
  margin: auto;

border: 0px solid yellow;

}


#me{
  margin-bottom: 5vw;

}

#contact{
  display: flex;
  position: relative;
  margin-left: 8vw;
  margin-bottom: 8vw;
  margin-top: 2em;
  border: 0px solid green;
}
#contact-img{
    border: 0px solid red;
  background:url(../img/contact.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position: center;
  height: 35vw;
  border: 0px solid blue;
  display: flex;
  width:33.3%;
}

#contact-title{
   color: #fefefe;
  text-align: center;
  margin: auto;
  border: 0px solid red;
  padding-top:0;
  /*height: 10%;*/
}
#contact-info{
  width: 65%;
  border: 0px solid red;
  padding: 3vw;
  padding-top: 0;
}

.contact-content{
  font-size: 1.2em;
  color:#9a9a9a;
  display: block;
  text-align: left;

}

#contact-form{
  display: block;
  border: 0px solid yellow;
  width: 35%;
  padding-left: 3vw;
  padding-right: .5px;
  position: relative;
}
#contact-container{
  padding: 0px;
  margin: 0px;
  width: 66.7%;
  display: flex;
  flex-wrap: wrap;
  border: 0px solid blue;
  
}


.form-element{
  width: 100%;
 -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;



background:#fefefe;

font-size:1em ;
/*line-height:1em;
padding-left: .5em;
padding-top: .5em;*/
border: .2px solid #cccccc;
  -webkit-border-radius: .5;
  -moz-border-radius: .5;
  border-radius: 3px;
 display: block;
  margin-bottom: 1vw;
  height: 3.5vw;
  color:#9a9a9a;
padding-left: 1.5em;
text-align: left;
  display: flex;
  align-items: center;

}
#message{
height: 10vw;
/*line-height:0;*/
padding-left: 1.2em;

width: 100%;
height: 46%;
}
#send-btn{
 /* position: absolute;
  bottom: 0px;*/
  padding-left: 0px;
  width: 40%;
  margin: 0px;
  display: flex;
  text-align: center;
}
#send-btn div{
  padding-left: .5em;
  border: 0px solid red;
  margin: auto;
  text-align: center;
}
#email-result-container{
  border: .2px solid #66a558;
  border: 0px solid #66a558;
  -webkit-border-radius: 1;
  -moz-border-radius: 1;
  border-radius: 1px;
  margin-bottom: 1vw;
  margin-top: 2vw;
  padding-bottom: 1vw;
  padding-top: 1vw;
  
  background-color: #fefefe;
  background-color: #f6f6f6;

}

#email-result{
  border: 0px solid red;
  font-size: 1em;
  color: #66a558;
  font-family: inherit;
  margin-left: 0px;

}
.empty-input{
  box-shadow: 0 0 .5px red;
  border: .2px solid red;
}
.rolling{
  border: 1px solid blue;
}
#tick{
  width: 3.5vw;
  height: 3.5vw;
}
.footer{
  
  padding-left: 8vw;
  padding-left: 8vw;
  
  padding-top: 4vw;
  padding-bottom: 4vw;
}
#copyright{
  font-size: 1.2em;
 
  
  
}


[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  display: inline-block;
  font-size: 1.5em;
  
  margin-right:1.5em;
  margin-top: 0px;
  border: 1px solid red;
  text-align: top;
  height: 1.5em;
}

.zocial-facebook{
  padding: 0px;
  margin-top: 0px;
}
.zocial-instagram{
padding: 0px;
  margin-top: 0px;
}
.zocial-linkedin{
padding: 0px;
  margin-top: 0px;
}
.zocial-weibo{
padding: 0px;
  margin-top: 0px;
}



[class*="zocial-"]:hover {
  
  color: #666666;
  
}





#copyright-box{
  
border: 0px solid red;
margin-top: 0px;
}
#social-icon-box{
 
border: 0px solid blue;

}

.aboutme{
  margin-top: 5vw;
  margin-bottom: 5vw;

}
.mypic-box{
height: 30vw;
display: flex;
width: 50%;
}
.mypic{
  margin: auto;
  width: 30vw;
  height: 30vw;
}
.myintro{
  padding-right: 10vw;
  padding-top: 8vw;
  padding-left: 0vw;
  padding-bottom: 0vw;
  width: 50%;
  
}
#me-intro-p{
  color: #9a9a9a;
  margin: 0;
  padding: 0;
}

.mainpagenav:hover{
  cursor: pointer;
  color: #e0e0e0;

  background-color: rgba(0,0,0,0);
  
}
.notselectedpage:hover{
  cursor: pointer;
  color: #fefefe;

  background-color: rgba(0,0,0,0);
  
}

#temporary{
  width: 100%;
  height: 8vw;
}

}




/* testtest*/

