@font-face {
    font-family: 'si';
    src: url('../socicon/socicon.eot');
    src: url('../socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../socicon/socicon.woff') format('woff'),
         url('../socicon/socicon.ttf') format('truetype'),
         url('../socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url(../socicon/socicon.svg) format(svg);
    }
}


.soc {
    overflow:hidden;
    margin:0; 
    padding:0;
    list-style:none;
    background-color: #9a9a9a;
    margin-top: 1em;
    margin-bottom: 1em;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:.8;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;

    -o-transition:.1s;
    -ms-transition:.1s;
    -moz-transition:.1s;
    -webkit-transition:.1s;
    transition:.1s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    font-size: 1em;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 10px;
    color: #fefefe;
    background-color: none;
    border: 1px solid #fefefe;
}

.soc a:hover {
    z-index: 2;
    color: #ececec !important;
    border: 1px solid #ececec;
}


.soc-icon-last{
    margin:0 !important;
}

.soc-facebook:before {
    content:'b';
}
.soc-pinterest:before {
    content:'d';
}
.soc-linkedin:before {
    content:'j';
}
.soc-google:before {
    content:'c';
}
.soc-twitter:before {
    content:'a';
}

@media screen and (min-width: 800px) {
.soc li {
    display:inline-block;
    *display:inline;
    zoom:.7;
}
.soc {
    
    margin-bottom: 0em;
}

}


