body {
 
  overflow-x: hidden;
}


.frame {
    height: 54.6667vw;
    line-height: 250px;
    overflow: hidden;
    margin-top: 2em; 
    margin-bottom: 3em;
    margin-left: 6vw;
    margin-right: 6vw;
  }

  .frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    
  }

  .frame ul li {
    float: left;
    width: 82vw;
    height: 100%;
    margin: 0 8px 0 0;
    padding: 0;
    background-color: #f6f6f6;
    color: black;
    text-align: center;
    cursor: pointer;
    
    
  }

  .frame ul li.active {
    color: red;
    background-color: #f6f6f6;
  }


#release0{
  width: 100%;
  height: 100%;
  background:url(../img/0-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release1{
  width: 100%;
  height: 100%;
  background:url(../img/1-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release2{
  width: 100%;
  height: 100%;
  background:url(../img/2-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}


#release3{
  width: 100%;
  height: 100%;
  background:url(../img/3-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release4{
  width: 100%;
  height: 100%;
  background:url(../img/4-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release5{
  width: 100%;
  height: 100%;
  background:url(../img/5-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}

#release6{
  width: 100%;
  height: 100%;
  background:url(../img/6-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release7{
  width: 100%;
  height: 100%;
  background:url(../img/7-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release8{
  width: 100%;
  height: 100%;
  background:url(../img/8-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}
#release9{
  width: 100%;
  height: 100%;
  background:url(../img/9-800.jpg);
  background-size:cover;
  background-repeat:no-repeat;
}


@media only screen 
  and (min-device-width: 375px) 
  and (orientation: landscape) { 

.frame {
    height: 24vw;
    height: 36vw;
    line-height: 250px;
    overflow: hidden;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 2em; 
    margin-bottom: 3em;
  }

  .frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    
  }

  .frame ul li {
    float: left;
    width: 36vw;
    width: 54vw;
    height: 100%;
    margin: 0 10px 0 0;
    padding: 0;
    background-color: #f6f6f6;
    
    color: black;
    text-align: center;
    cursor: pointer;
    
    
  }

  }



@media screen and (min-width: 800px) {
 .frame {
    height: 24vw;
    line-height: 250px;
    overflow: hidden;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 5vw; 
    margin-bottom: 5vw;
  }

  .frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    
  }

  .frame ul li {
    float: left;
    width: 36vw;
    height: 100%;
    margin: 0 10px 0 0;
    padding: 0;
    background-color: #f6f6f6;
    
    color: black;
    text-align: center;
    cursor: pointer;
    
    
  }

  .frame ul li.active {
    
    background-color: #f6f6f6;
  }


}


@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

  .frame {
    height: 24vw;
    line-height: 250px;
    overflow: hidden;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 5vw; 
    margin-bottom: 5vw;
  }

  .frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;
    
  }

  .frame ul li {
    float: left;
    width: 36vw;
    height: 100%;
    margin: 0 3px 0 0;
    padding: 0;
    background-color: #f6f6f6;
    
    color: black;
    text-align: center;
    cursor: pointer;
    
    
  }

  .frame ul li.active {
    
    background-color: #f6f6f6;
  }


}

